build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
compile_commands.json
Makefile
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
report.json
vde2-analysis.json
vde2-report.json
include/config.h
include/config.h.in
include/stamp-h1
**/Makefile
**/Makefile.in
**/.deps/
**/.libs/
src/**/*.o
src/**/*.lo
src/**/*.la
src/**/*.pc
src/dpipe
src/unixcmd
src/vde_autolink
src/vde_over_ns/vde_over_ns
src/vde_plug
src/vde_plug2tap
src/vde_router/vde_router
src/vde_switch/vde_switch
src/vdetaplib/vdetap
src/vdeterm
src/wirefilter
man/vdetaplib.1
